:root {
    --main-primary: #1C00C2;
    --secondary-color: #F1F3F4;
    --main-secondary: #6D6D6D;
    --main-highlight: #FF9632;
    --danger-color: #D94F45;
    --info-color: #0F96DA;
    --warning-color: #E89D35;
    --success-color: #41B983;
    --main-default: #202020;
    --main-black: #000;
    --main-mute: #AFAFAF;
    --main-line: #EEE;
    --main-white: #FFFFFF;
    --enter-prem-color: #F95D05;
    --pro-color: #F9C305;
    --starter-color: #89CC1D;
    --line-stroke-color: #F1F3F4;
    --pastel-success-color: rgba(66, 193, 6, 0.05);
    --pastel-danger-color: rgba(251, 43, 43, 0.05);
    --pastel-warning-color: rgba(249, 169, 9, 0.05);
    --pastel-info-color: rgba(101, 195, 248, 0.05);
    --border-primary-color: #b8daff;
    --border-secondary-color: #d6d8db;
    --border-success-color: #e3f8e8;
    --border-danger-color: #f8d7da;
    --border-warning-color: #ffeeba;
    --border-info-color: #bee5eb;
    --border-light-color: #fdfdfe;
    --border-default-color: #c6c8ca;
    --hover-primary: #0137D3;
    --hover-secondary: #EAEAEA;
    --hover-danger-color: #C3413F;
    --hover-info-color: #008EC2;
    --hover-warning-color: #DA8818;
    --hover-success-color: #30A16F;
    --active-primary: rgba(1, 55, 211, .8);
    --active-secondary: rgba(234, 234, 234, .8);
    --active-danger-color: rgba(195, 65, 63, .8);
    --active-info-color: rgba(0, 142, 194, .8);
    --active-warning-color: rgba(218, 136, 24, .8);
    --active-success-color: rgba(48, 161, 111, .8);
    --disable-primary-color: rgba(1, 55, 211, .65);
    --disable-secondary-color: rgba(234, 234, 234, .65);
    --disable-danger-color: rgba(195, 65, 63, .65);
    --disable-info-color: rgba(0, 142, 194, .65);
    --disable-warning-color: rgba(218, 136, 24, .65);
    --disable-success-color: rgba(48, 161, 111, .65);
    --status-warning-color: #E89D35;
    --status-success-color: #41B983;
    --status-mute-color: #727272
}