<div class="ladi-button">
  <div
    class="ladi-button-background"
    style="background-color: rgb(0, 0, 0)"
  ></div>
  <div class="ladi-overlay"></div>
  <div
    id="BUTTON_TEXT35"
    style="width: 160px; top: 9px; left: 0px"
    class="ladi-element ladi-button-headline"
  >
    <p
      class="ladi-headline"
      style="
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
      "
    >
      Buy Now
    </p>
  </div>
</div>
